<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="IMDb Test Suite">
    <listeners>
        <listener class-name="com.assignment.imdb.utilities.ReportGenerationListener"></listener>
    </listeners>
    <test name="IMDb Video Game Search">
        <parameter name="browserType" value="chrome"></parameter>
        <classes>
            <class name="com.assignment.imdb.tests.IMDBVideoGameSearchTest">
            </class>
        </classes>
    </test>
</suite>